    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Home</h1>
            <?= $this->Flash->render('auth') ?>
            <?= $this->Flash->render() ?>
            <p>Bem vindo ao painel de administração. Acesse as funcionalidades do painel no menu ao lado.</p>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
